<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    #app { 
      margin: 20px;
      padding: 30px;
      border: 1px solid #ccc; 
      box-shadow: 3px 3px 3px #aaa; 
      display: inline-block;
    }
    #boxZone{
        display: flex;
        flex-wrap: wrap;
    }
    .box{
        width: 50px;
        height: 50px;
        margin: 5px;
        text-align: center;
        line-height: 50px;
        border: 1px solid black; 
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
    <input type="text" name="" id="" v-model="value">
    <button type="button" v-on:click="make">생성</button>
    </div>
    <div id = "boxZone">
        <span class="box" v-for="i in arr"> {{ i }} </span>
    </div>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        value : 0,
        arr : []
      },
      methods:{
        make : function(){
            this.arr = [] // 배열 초기화
            for (let index = 0; index < this.value; index++) {
                this.arr.push(Math.floor(Math.random() * 10 + 1)) 
            }
        }
      }
    })    
   </script>
</body>    
</html>
